{% extends 'base.html' %}

{% block content %}
    
<h2 class="font-bold mt-8">Available Rooms</h2>
{% if rooms %}
<div class="grid grid-cols-3 gap-4">
    {% for room in rooms %}
        <a href="{% url 'view_room' room.pk %}" class="p-4  rounded-xl shadow">
            {% if room.image %}
                <img src="{{ room.image.url }}" alt="{{ room.name }}" class="mt-2 w-full h-36 object-cover rounded-lg">
            {% endif %}
            <h2 class="text-sm font-bold">{{ room.name }}</h2>
            <div class="flex items-center">
                <p class="text-gray-700 text-sm font-bold">₱{{ room.price }}</p><span class="text-sm font-bold text-cyan-500 ">/night</span>
            </div>
        </a>
    {% endfor %}
</div>
{% else %}
<p>No rooms available.</p>
{% endif %}

{% endblock %}
