{% extends 'base.html' %}

{% block content %}

<div class="flex justify-center items-center space-x-4">
    <div class="w-2/3">
        <img src="{{ room.image.url }}" alt="{{ room.name }}" class="w-full h-96 shadow rounded object-cover">
    </div>
    <div class="w-1/3 flex flex-col space-y-6">
        {% for image in room.additional_images.all %}
        <img src="{{ image.image.url }}" alt="{{ room.name }}" class="w-full rounded shadow h-28 object-cover">
        {% endfor %}
    </div>
</div>

<div class="mt-8 p-2">
    <div class="flex space-x-4 items-center">
        <h1 class="font-bold text-lg">{{ room.name }}</h1>
        <div class="text-sm flex space-x-2">
            <p class="text-cyan-500 font-bold">Price: ₱{{ room.price }}</p>
            <p class="bg-lime-300 px-2 text-zinc-600 text-xs rounded-full font-semibold">{{ room.is_available|yesno:"Available,Not Available" }}</p>
        </div>
    </div>
    
    <p class="indent-8 text-sm">{{ room.description }}</p>
    
    <div class="mt-8 w-full justify-center flex space-x-4">
        <!-- <a href="{% url 'room_delete' room.pk %}" class="bg-red-500 hover:bg-yellow-700 text-white text-sm py-2 px-4 rounded">Delete Room</a>
        <a href="{% url 'room_update' room.pk %}" class="bg-yellow-500 hover:bg-yellow-700 text-white text-sm py-2 px-4 rounded">Update Room</a> -->
        <a href="{% url 'book_room' %}" class="bg-cyan-500 hover:bg-cyan-700 text-white text-sm py-2 w-1/2 text-center px-4 rounded">Book Room</a>

    </div>
</div>

{% endblock %}